{% extends '../../base.html' %}

{% block line1 %}FOURNISSEUR{% endblock %}


{% block content %}
<div id="kt_content_container" class="container">

	<div class="card">
		<div class="card-header">
			<h2 class="card-title fw-bolder">FOURNISSEURS</h2>
				<div class="card-toolbar">
					<a href="{% url 'create_fournisseur' %}" type="button" class="btn btn-flex btn-primary">
						<!--begin::Svg Icon | path: icons/duotone/Navigation/Plus.svg-->
					<span class="svg-icon svg-icon-2">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
						<rect fill="#000000" x="4" y="11" width="16" height="2" rx="1" />
						<rect fill="#000000" opacity="0.5" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000)" x="4" y="11" width="16" height="2" rx="1" />
					</svg>
					</span>
					<!--end::Svg Icon-->Ajouter</a>
				</div>
		</div>
		<!--end::Card header-->
		<!--begin::Card body-->

			<div class="card-body">
					{% if fours|length > 0 %}
						<table class="table table-hover">
							<thead>
								<tr class="fw-bolder fs-6 text-gray-800">
									<th class="min-w-125px">NOM</th>
									<th class="min-w-125px">DOMAINE</th>
									<th class="min-w-125px">CONTACT</th>
									<th class="min-w-125px">ADRESSE</th>
									<th class="min-w-125px">ACTIONS</th>
								</tr>
							</thead>
								{% for four in fours %}
									<tbody>
										<tr>
											<td>{{ four.nom }}</td>
											<td>{{ four.domaine }}</td>
											<td>{{ four.contact }}</td>
											<td>{{ four.adresse }}</td>
											<td>
												<a href="{% url 'update_fournisseur' four.id %}" class="">Modifier</a> /
                								<a href="{% url 'delete_fournisseur' four.id %}" class="">Supprimer</a>
											</td>
										</tr>
									</tbody>
								{% endfor %}
						</table>
			</div>
			<ul class="pagination justify-content-center">
				{% if fours.has_previous %}
						<li class="page-item"><a class="page-link" href="?page={{ fours.previous_page_number }}">Précédent</a></li>
				{% endif %}
				{% for i in paginator.page_range %}
					{% if i == fours.number %}
						<li class="page-item active">
							<a class="page-link" href="?page={{ i }}">{{i}}</a>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-link" href="?page={{ i }}">{{i}}</a>
						</li>
					{% endif %}
				{% endfor %}
				{% if materiels.has_next %}
						<li class="page-item"><a class="page-link" href="?page={{ fours.next_page_number }}">Suivant</a></li>
				{% endif %}
			</ul><br>
			{% else %}
				Aucun enregistrement à afficher
	</div>
			{% endif %}
	</div>
</div>
{% endblock %}
{% block js %}
<script>
    {% for msg in messages %}
       swal('{{ msg }}')
    {% endfor %}
</script>
{% endblock %}