{% extends '../base.html' %}

{% block line1 %}MATERIEL{% endblock %}

{% block line2 %}{% endblock %}

{% block content %}
<div id="kt_content_container" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Page introuvable</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}